<section class="carousel-box">
  <div class="container container-fluid container--no-gutter">
    <div class="image-layout-xs hidden-sm-up">
      <div class="center-xs">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/bulgarije/File1.jpg" class="img-responsive">
      </div>

      <div class="center-xs">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/duitsland/File2.jpg" class="img-responsive">
      </div>

      <div class="center-xs">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/picture3.jpg" class="img-responsive">
      </div>
    </div>
    <div id="carousel" class="hidden-xs">

      <!-- <div class="hideLeft">
        <img src="https://s16.postimg.org/vklrwoxtx/cover9.jpg">
      </div> -->

      <!-- <div class="prevLeftSecond">
        <img src="https://s16.postimg.org/cgsggckzp/cover8.jpg">
      </div> -->

      <div class="prev">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/bulgarije/File1.jpg">
      </div>

      <div class="selected">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/duitsland/File2.jpg">
      </div>

      <div class="next">
        <img src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/picture3.jpg">
      </div>

      <!-- <div class="nextRightSecond">
        <img src="
        https://s16.postimg.org/edp6kxbnp/cover4.jpg">
      </div> -->

      <!-- <div class="hideRight">
        <img src="https://s16.postimg.org/fij8qay4l/cover3.jpg">
      </div> -->

    </div>
  </div>
</section>
