<section class="carousel-box">
  <div class="container container-fluid container--no-gutter">
    <div class="image-layout-xs hidden-sm-up">
      <div class="center-xs">
        <img src="{{site.url}}/images/dj-booth.jpg" class="img-responsive">
      </div>

      <div class="center-xs">
        <img src="{{site.url}}/images/booming.jpg" class="img-responsive">
      </div>
    </div>
    <div id="carousel" class="hidden-xs">
      <div class="prev">
        <img src="{{site.url}}/images/img-dj-rowin.jpg">
      </div>

      <div class="selected">
        <img src="{{site.url}}/images/dj-booth.jpg">
      </div>

      <div class="next">
        <img src="{{site.url}}/images/booming.jpg">
      </div>
    </div>
  </div>
</section>