<section class="gray-box">
  <div class="container container-fluid">
    <div class="row ">
      <div class="col-xs-12 col-md-6">
        <div class="text-container">
          <h2 class="mt-0-sm">WHAT WE OFFER?</h2>
          <ul>
            <li>Een uitstekend salaris;</li>
            <li>Ieder jaar een eigen opleidingsbudget van €1.000,- dat je naar eigen inzicht mag invullen;</li>
            <li>Goed arbeidsvoorwaardenpakket zoals een gunstige pensioen- en bonusregeling, reiskostenvergoeding, 25 vakantiedagen,
              6,5 ADV-dagen en diverse incentive programma’s: van een achievers trip naar IJsland tot cadeaubonnen en afdelingsuitjes;</li>
            <li>Een baan waarin je jezelf verder kunt ontwikkelen als programmeur</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="text-container">
          <h2>WHAT WE ASK?</h2>
          <ul>
            <li>Ervaring met de volgende technologieën is een pre: Node,</li>
            <li>Backbone, Angular of een ander JS-framework, ElasticSearch,</li>
            <li>Cloud hosting (AWS) en Docker.</li>
            <li>Ervaring met Ruby on Rails.</li>
            <li>Kennis van MySQL.</l1>
              <li>Kennis met Linux.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
