<section class="flex-layout">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter">
      <div class="col-xs-12 col-md-5 col--no-gutter">
        <img class="img-responsive job-img-padding" src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/9.jpg" alt="Developer" width="550" height="309">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col--no-gutter">
        <div class="text-container">
          <h3 class="h3">{{ page.title-text }}</h3>
          <p> {{ page.intro-text }} </p>
        </div>
      </div>
    </div>
  </div>
</section>
