<section class="flex-layout">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter">
      <div class="col-xs-12 col-md-6 col--no-gutter">
        <img class="img-responsive job-img-padding" src="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/international/roemenie.jpeg" alt="Roemenië">
      </div>
      <div class="col-xs-12 col-sm-offset-2 col-md-5 col-md-offset-1 col--no-gutter">
        <div class="text-container">
          <h3> {{ page.img-text-section-title }}</h3>
          <p>{{content}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
