<section class="flex-layout">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter center-xs">
      <div class="col-xs-12 col-md-7 col--no-gutter">
        <div class="text-container start-xs">
          <h3>Al zin in een feestje?</h3>
          <p>Dat hoop ik natuurlijk wel, want wat is er niet leuker dan een leuk feestje met geweldige muziek.</p>
          <br>
          <p>Natuurlijk is DJ Rowin flexibel en kan zich altijd aanpassen aan jou evenement. Geen feest waar het dak niet afgeblazen kan worden!!</p>
          <br>
          <p>En ben je erg nieuwsgierig naar de prijs, vraag dan een vrijblijvende offerte aan voor jouw specifieke evenement of gelegenheid.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-5 col--no-gutter">
        <img src="{{site.url}}/images/9.jpg" title="DJ Rowin" alt="DJ Rowin">
      </div>
    </div>
  </div>
</section>