<section class="job-opening__item-reversed">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter">
      <div class="col-xs-12 col-md-6 first-md col--no-gutter">
        <div class="text-container">
          <h3>{{include.header}}</h3>
          <p>{{include.text}}</p>
          <br class="hidden-xs">
          <div class="button-align-2">
            <a class="btn btn--secondary btn--outline" href="{{include.url}}" target="_blank" rel="noopener">{{include.urlName}}</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 first-xs col--no-gutter">
        <img class="img-responsive place-right" src="{{include.img}}" alt="Developer">
      </div>
    </div>
  </div>
</section>