<section class="flex-layout">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter">
      <div class="col-xs-12 col-md-7 col--no-gutter">
        <div class="text-container start-xs">
          <p> {{ page.intro }}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col--no-gutter">
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1220.1756636307707!2d4.710213955680845!3d52.29147750214345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3bee39c986b665c!2sUitzendbureau+Hoofddorp+YoungCapital!5e0!3m2!1sen!2snl!4v1518076620953" width="100%" height="320"></iframe>
      </div>
    </div>
  </div>
</section>
