<section class="projects__item projects__single">
  <div class="container container-fluid container--no-gutter--xs projects__container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hidden-sm-up">
          <img src="https://www.youngcapital.nl/public_images/Image/dev-website/projects-details/yc-home-screenshot.jpg" class="screenshot-img" alt="Screenshot Young Capital homepage">
        </div>

        <div class="grey-block">
          <div class="row">
            <div class="col-xs-12 col-md-8 pos-relative hidden-xs">
              <img src="https://www.youngcapital.nl/public_images/Image/dev-website/projects-details/yc-home-screenshot.jpg" class="screenshot-img" alt="Screenshot Young Capital homepage">
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="text-container">
                <h3> {{ page.gray-title }} </h3>
                <p> {{ page.gray-text }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
