<section id="pre-footer" class="pre-footer full-width">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="white-block white-block--pre-footer">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="text-welcome footer-li">
            <h2>Reasons to work abroad:</h2>
          </div>
        </div>

        <div class="col-xs-12 col-md-8 white-block--border-left">
          <div class="text-welcome pl-40 footer-li">
            <ul>
              <li>The once in a lifetime opportunity to discover a new city and culture;</li>
              <li>The ability to learn or improve a language;</li>
              <li>The chance to network with colleagues from different countries and cultures;</li>
              <li>Extensive growth opportunities within an international company;</li>
              <li>International work experience is always great to add to your CV!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function(){
    (function randombg() {
      var random = Math.floor(Math.random() * 8) + 0;
      var bigSize = [ "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/1.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/2.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/3.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/4.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/5.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/6.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/7.jpg')",
                      "url('https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/dev-website/projects-details/issues/8.jpg",];
      document.getElementById("pre-footer").style.backgroundImage = bigSize[random];
      $('#pre-footer').css({
          'background-size': 'cover'
        });
    }());
  });

</script>