<section id="pre-footer" class="pre-footer full-width">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="white-block white-block--pre-footer">
      <div class="row center-xs">
        <div class="col-xs-12 col-md-4">
          <div class="text-welcome footer-li">
            <h2>Waarom DJ Rowin?</h2>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8 white-block--border-left">
          <div class="text-welcome pl-40 footer-li">
            <ul>
              <li>Je kiest voor ervaring!</li>
              <li>Flexibel in muziekstijlen</li>
              <li>DJ Rowin = EEN HEEL DIK FEEST </li>
              <li>Een DJ vol enthousiasme</li>
              <li>Gegarandeerde twerksessies</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    (function randombg() {
      var random = Math.floor(Math.random() * 8) + 0;
      var bigSize = ["url('{{site.url}}/images/1.jpg')",
        "url('{{site.url}}/images/2.jpg')",
        "url('{{site.url}}/images/3.jpg')",
        "url('{{site.url}}/images/4.jpg')",
        "url('{{site.url}}/images/5.jpg')",
        "url('{{site.url}}/images/6.jpg')",
        "url('{{site.url}}/images/7.jpg')",
        "url('{{site.url}}/images/8.jpg",];
      document.getElementById("header").style.backgroundImage = bigSize[random];
      $('#pre-footer').css({
        'background-size': 'cover'
      });
    }());
  });

</script>