<section>
  <div class="container container-fluid white-block">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="text-welcome">
          <h2>{{ page.title }}</h2>
          <p> {{page.intro}}
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 white-block--border-left">
        <div class="text-welcome">
          <h3>{{ page.subtitle }}</h3>
          <button class="btn btn--outline btn--secondary">{{ page.button-text }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
