<section class="job-opening__item {{ if include.first ? 'mt--wb' : '' }}">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="row row--no-gutter center-xs">
      <div class="col-xs-12 col--no-gutter">
        <h1 class="mb">{{include.header}}</h1>
        <iframe
        class="sc-iframe"
        width="100%"
        height="300"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="{{include.scUrl}}"></iframe>
      </div>
    </div>
  </div>
</section>