<section class="full-width">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="white-block white-block--page-top">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="text-welcome">
            <h1 class="h2">{{ page.title }}</h3>
            <p> {{page.intro}}
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="img-container">
            <img src="{{site.url}}/images/dj-booth.jpg" title="DJ Rowin" alt="DJ Rowin ">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
