<section class="full-width">
  <div class="container container-fluid container--no-gutter--xs">
    <div class="white-block--contact white-block white-block--page-top">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h3 class="h2">Contact</h3>
          <div class="contact-info">
            <div class="address">
              <div class="icon-contact-align">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <span class="icon-contact-align__color">Purmerend</span>
            </div>
            <br>
            <div class="phone">
              <div class="icon-contact-align">
                <i class="fa fa-phone"></i>
              </div>
              <a href="tel:0642655790"><span> 06 42655790</span></a>
            </div>
            <br>
            <div class="mail">
              <div class="icon-contact-align">
                <i class="fa fa-envelope"></i>
              </div><a href="mailto:info@djrowin.nl"><span class="hidden-xs">info@djrowin.nl</span><span class="hidden-sm-up">Mail us</span>                
              </a>
            </div>
            <ul class="social">
              <!-- <li>
                <a href="https://www.youngcapital.nl/vacatures.rss">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-rss"></i>
                </a>
              </li> -->
              <li>
                <a href="https://www.linkedin.com/company/youngcapital">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/youngcapital_nl">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-insta"></i>
                </a>
              </li>
              <!-- <li>
                <a href="https://twitter.com/YoungCapital_NL">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-twitter"></i>
                </a>
              </li> -->
              <li>
                <a href="https://www.youtube.com/c/youngcapital">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-youtube"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/YoungCapital">
                  <i class="nyc-icon nyc-icon-2x nyc-icon-network-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 white-block--border-left">
          <h3 class="h2">Send a message</h3>

          <form action="https://formspree.io/info@youngcapitalinternational.com"method="POST">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <input type="text" placeholder="First name" name="First name" required/>
              </div>
              <div class="col-xs-12 col-md-6">
                <input type="text" placeholder="Last name" name="Last name" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <input type="tel" placeholder="Phone number" name="Phone number" required/>
              </div>
              <div class="col-xs-12 col-md-6">
                <input type="mail" placeholder="E-mail" name="E-mail" required/>
              </div>
            </div>
            <div class="row input--buttons">
              <div class="col-xs-12 col-md-12 text-area">
                <textarea rows="4" placeholder="What do you want to ask?" name="Motivation" required></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-contact btn--primary">SEND</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
