<section class="pre-footer-apply full-width">
  <div id="applyNow"></div>
  <div class="container container-fluid container--no-gutter--xs">
    <!-- <img src="" class="img-responsive"/> -->
    <div class="white-block white-block--apply">

      <div class="row">
        <div class="col-xs-12">
          <h2>Apply DIRECTLY</h2>

          <form action="https://formspree.io/info@youngcapitalinternational.com"method="POST">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <input type="text" placeholder="First name" name="First name" />
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="text" placeholder="Last name" name="Last name" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <input type="tel" placeholder="Phone number" name="Phone number"/>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="mail" placeholder="E-mail" name="E-mail"/>
              </div>
              <div class="col-xs-12 col-sm-4">
                <input type="text" placeholder="Applying for position" name="Position"/>
              </div>
            </div>
            <div class="row input--buttons">
              <div class="col-xs-12 col-sm-12 pb-20">
                <textarea rows="4" placeholder="Write your motivation here" name="Motivation"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-contact btn--primary">
              SEND
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
