<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]-->
<html class="no-js">
<!--[endif]-->

{% include head.html %}

	<body>
      <script src="{{site.url}}/scripts/carousel.js"></script>
		<!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRVLCBV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}

    {% include img-text-section-about.html %}

    {% include carousel.html %}

    {% include pre-footer.html %}

    {% include footer.html %}

	</body>
</html>
