<!DOCTYPE html>

<html class="no-js">

{% include head.html %}


<body>
  {% include header.html %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRVLCBV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- 1 -->
  <section class="country_NL">
    {% include img-text-1.html first=true header="Air-amsterdam" text="In 2010 opende AIR midden in het bruisende uitgaansgebied
    van Amsterdam haar deuren. Waar voormalig discotheek IT in de jaren ’90 & ’00 de sfeer bepaalde aan het Rembrandtplein,
    heeft AIR deze taak sinds haar opening op zich genomen. Door de jaren heen is AIR zich gaan richten op een aantal belangrijke
    waardes: tolerantie, diversiteit, creativiteit, kwaliteit en vrijheid. Ondertussen is de club een begrip in het nachtleven
    onder de nieuwe generatie en beperkt het zich niet tot een nationale doelgroep." img="/images/air-amsterdam.png" title="DJ Rowin" alt="Air"
    url="https://www.air.nl/" urlName="More information" %}
    <!-- 2 -->
    {% include img-text-2.html header="Nova" text="Vlakbij het rumoer van het populairste plein van Amsterdam vind je twee grote,
    blauwe, stalen deuren, met twee witte pilaren. Daar vind je Nova. Vijf creatievelingen hebben midden in het centrum een
    intieme ruimte omgetoverd tot een levendige hangout voor lokaal en internationaal publiek." img="/images/nova.png" title="DJ Rowin" alt="Nova"
    url="https://www.leidseplein.amsterdam/bar-club-disco/nova" urlName="More information" %}
    <!-- 3 -->
    {% include img-text-1.html header="P3 Purmerend" text="Pop- en Cultuurpodium P3 is het podium voor live popmuziek, dance
    en theater in regio Waterland. P3 staat open voor jouw muzikale initiatief en ideeën, P3 is er voor jou. Als bezoeker,
    als muzikant, als medewerker. Voel je welkom je mening te uiten aan de bar, via mail, social media of telefoon, we staan
    er zeker open voor." img="/images/p3.png" title="DJ Rowin" alt="P3" url="https://www.p3purmerend.nl/" urlName="More information" %}
    <!-- 4 -->
    {% include img-text-2.html header="Paradiso Amsterdam " text="Paradiso is een podium in een voormalige kerk aan het Leidseplein.
    Maar we zijn ook meer dan 1000 programma's op verschillende locaties in Amsterdam. Waar elk jaar ruim 600.000 mensen
    op af komen." img="/images/paradiso.png" title="DJ Rowin" alt="paradiso" url="https://www.paradiso.nl/" urlName="More information" %}
    <!-- 5 -->
    {% include img-text-1.html header="Club Up" text="Club Up is onderdeel van de gesloten kunstenaarssociëteit De Kring. Deze
    is opgericht in 1922 en dient sindsdien als huiskamer en ontmoetingsplek voor jong en oud uit het culturele en maatschappelijke
    Amsterdamse leven. <br>Club Up bestaat sinds 2008 en ontleent haar eigenzinnige en creatieve karakter vanuit de bestaansreden
    van de Kring. Het stimuleren van vernieuwing in de uitgaans- en muziekscene op een ongedwongen en creatieve manier is
    voor De Club Up dan ook erg belangrijk. De focus ligt qua muziek op House, maar andere muziek stijlen zijn ook goed vertegenwoordigd
    bij Club Up." img="/images/club-up.png" title="DJ Rowin" alt="Club-up" url="https://clubup.nl/" urlName="More information" %}
    <!-- 6 -->
    {% include img-text-2.html header="Café Bubbels" text="Café Bubbels is al jaren het nummer 1 feestcafé van
    Purmerend. Met de beste party Dj's van de Koemarkt en de befaamde Bubbels Crew! <br> Café Bubbels is gelegen aan
    de Koemarkt 21 in het centrum van Purmerend. In de nabije omgeving is er meer dan voldoende parkeergelegenheid en de
    mogelijkheid om uw fiets neer te zetten. " img="/images/bubbels.png" title="DJ Rowin" alt="Bubbels-Purmerend" url="https://www.cafebubbels.nl/purmerend"
    urlName="More information" %}
    <!-- 7 -->
    {% include img-text-1.html header="De Balustrade" text="De Balustrade is in februari van 2009 opgericht door Michael Schoemaker.
    In de late uurtjes verandert de Balustrade in een Feestcafe beter bekend als De Balu. Waar al vele mensen tot in vroege
    ochtenden mooie feestjes hebben meegemaakt." img="/images/de-balu.png" title="DJ Rowin" alt="de Balu" url="http://www.cafedebalustrade.nl/"
    urlName="More information" %}
  </section>


  <section class="country_Default">
    <!-- 1 -->
    {% include img-text-1.html header="I am sorry...." text="This website is only available in Dutch.<br><br> However, of
    course you send me an email and i can aplly to you in English!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/no-vac-transparant.png"
    %}
  </section>

  {% include gray-block-question.html %} {% include footer.html %}

  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    $(".country_NL").slideToggle(200);
    window.sr = ScrollReveal({
      reset: true
    });
    sr.reveal('.job-opening__item', {
      duration: 1000
    });
    sr.reveal('.job-opening__item-reversed', {
      duration: 1000
    });
  </script>

</body>

</html>