---
title: "Test"
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]-->
<html class="no-js">
<!--[endif]-->

{% include head.html %}


<body>
  {% include header.html %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRVLCBV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- 1 -->
  <section class="country_NL">
    {% include img-text-1.html first=true header="Working in Bulgaria" text="If you love to be original and are looking for an
    exciting new adventure, working in Bulgaria would be perfect for you! Not many people can say that they were able to
    work and live in Sofia - but hopefully you will soon! Part of this unique experience includes getting to know an unknown
    culture, eating dishes you have never heard of as well as learning that Bulgarians really know how to have a party! Apply,
    pack your bags and get ready to see what work in Bulgaria has to offer." img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/bulgarije/File1.jpg"
    alt="Bulgarije" url="https://www.youngcapital.nl/werken-in-het-buitenland/bulgarije" urlName="More information" %}
    <!-- 2 -->
    {% include img-text-2.html header="Working in Germany" text="Looking for a new adventure? You now have the chance to work
    in Germany! A country with beautiful cities, an ancient culture, and a great diversity of festivities. Who would not
    want to gain work experience in such an interesting country? View our job offer in Germany, apply today and soon you
    could be the lucky one with the unforgettable experience." img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/duitsland/File2.jpg"
    alt="Duitsland" url="https://www.youngcapital.nl/werken-in-het-buitenland/duitsland" urlName="More information" %}
    <!-- 3 -->
    {% include img-text-1.html header="Working in Greece" text="Do you like the idea of working and living in Greece? We have
    the best work opportunities available for you! Our vacancies allow you to work in local or international companies that
    provide you with a good salary and bonus structure. In your free time you can enjoy the wonderful weather, the great
    food and everything else that Greece has to offer. Interested? Take a quick look at our job openings and soon you could
    be on your way to Greece!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/griekenland/File3.jpg"
    alt="Griekenland" url="https://www.youngcapital.nl/werken-in-het-buitenland/griekenland" urlName="More information" %}
    <!-- 4 -->
    {% include img-text-2.html header="Working in Poland" text="Are you ready for a challenge? Do you want to gain work experience
    in Poland? You now have the opportunity to meet new people, improve your language skills and discover several beautiful
    cities in Poland. It doesn’t matter if you party in the student city of Krakow or do some culture sniffing in the capital,
    Warsaw, you will never get bored. Enthusiastic? View our vacancies and apply today! Who knows, you may soon be packing
    your suitcase, ready to start work in Poland!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/polen/File4.jpg"
    alt="Polen" url="https://www.youngcapital.nl/werken-in-het-buitenland/polen" urlName="More information" %}
    <!-- 5 -->
    {% include img-text-1.html header="Working in Portugal" text="Do you want to work in Portugal? We are constantly looking
    for adventurers who want to pack their suitcases and move to Lisbon. With incredibly beautiful nature, good weather and
    many activities in the cities you will have an unforgettable time! Apply for a vacancy below and before you know it you
    could be working in Portugal!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/picture3.jpg"
    alt="Portugal" url="https://www.youngcapital.nl/werken-in-het-buitenland/portugal" urlName="More information" %}
    <!-- 6 -->
    {% include img-text-2.html header="Working in the United Kingdom" text="Always wanted to work abroad? Then choose the United
    Kingdom! We have vacancies in various locations such as Ireland, Northern Ireland and England. In addition, the landscapes
    are beautiful and this is a very good opportunity to take your English proficiency to the next level! Why wait? Take
    a look at our job offers and maybe you’ll start your new job in the UK very soon!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/uk/File3.jpeg"
    alt="Verenigd-Koninkrijk" url="https://www.youngcapital.nl/werken-in-het-buitenland/verenigd-koninkrijk" urlName="More
    information" %}
    <!-- 7 -->
    {% include img-text-1.html header="Working in Spain" text="Living and working in Spain; for many a dream. But, for you, this
    dream could come true! Through YoungCapital International you can find challenging vacancies in sunny Spain. Pour a glass
    of sangria, apply and soon you could be at work in sunny Barcelona!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/international/spanje.jpeg"
    alt="Spanje" url="https://www.youngcapital.nl/werken-in-het-buitenland/spanje" urlName="More information" %}
    <!-- 8 -->
    {% include img-text-2.html header="Working in Romania" text="ot many people can say that they have worked in Romania, but
    who knows, maybe you could! Are you looking for a challenging job in a beautiful and interesting environment? Discover
    the possibilities we offer for working in Romania!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/international/roemenie.jpeg"
    alt="Roemenië" url="https://www.youngcapital.nl/werken-in-het-buitenland/roemenie" urlName="More information" %}
    <!-- 9 -->
    {% include img-text-1.html header="Netherlands" text="Want to live and work in the Netherlands? You can with our help! We
    have many interesting job offers in the Netherlands for you. These jobs allow you to gain international work experience
    with a good salary and interesting bonus structures. At the same time you can enjoy the benefits of the country - the
    stunning natural areas, the coastal sections for the warmer days as well as the variety of attractions in the cities.
    English is so well spoken you can communicate everywhere with everyone without any problems making finding your way around
    even easier! Have we sparked your interest? Then take a look at our vacancies and maybe you will be working in the Netherlands
    soon!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/duitsland/File4.jpg"
    alt="Netherlands" url="https://www.studentjob.nl/" urlName="More information" %}
  </section>
  <section class="country_DE">

    <!-- 1 -->
    {% include img-text-1.html header="Netherlands" text="Want to live and work in the Netherlands? You can with our help! We
    have many interesting job offers in the Netherlands for you. These jobs allow you to gain international work experience
    with a good salary and interesting bonus structures. At the same time you can enjoy the benefits of the country - the
    stunning natural areas, the coastal sections for the warmer days as well as the variety of attractions in the cities.
    English is so well spoken you can communicate everywhere with everyone without any problems making finding your way around
    even easier! Have we sparked your interest? Then take a look at our vacancies and maybe you will be working in the Netherlands
    soon!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/duitsland/File4.jpg"
    alt="Netherlands" url="https://www.studentjob.de/jobs-im-ausland/niederlande" urlName="More information" %}
    <!-- 2 -->
    {% include img-text-2.html header="Working in Portugal" text="Do you want to work in Portugal? We are constantly looking
    for adventurers who want to pack their suitcases and move to Lisbon. With incredibly beautiful nature, good weather and
    many activities in the cities you will have an unforgettable time! Apply for a vacancy below and before you know it you
    could be working in Portugal!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/picture3.jpg"
    alt="Portugal" url="https://www.studentjob.de/jobs-im-ausland/portugal" urlName="More information" %}
    <!-- 3 -->
    {% include img-text-1.html header="Working in Greece" text="Do you like the idea of working and living in Greece? We have
    the best work opportunities available for you! Our vacancies allow you to work in local or international companies that
    provide you with a good salary and bonus structure. In your free time you can enjoy the wonderful weather, the great
    food and everything else that Greece has to offer. Interested? Take a quick look at our job openings and soon you could
    be on your way to Greece!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/griekenland/File3.jpg"
    alt="Griekenland" url="https://www.studentjob.de/jobs-im-ausland/griechenland" urlName="More information" %}
    <!-- 4 -->
    {% include img-text-2.html header="Working in Spain" text="Living and working in Spain; for many a dream. But, for you, this
    dream could come true! Through YoungCapital International you can find challenging vacancies in sunny Spain. Pour a glass
    of sangria, apply and soon you could be at work in sunny Barcelona!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/international/spanje.jpeg"
    alt="Spanje" url="https://www.studentjob.de/jobs-im-ausland/spanien" urlName="More information" %}
  </section>

  <section class="country_Default">
    <!-- 1 -->
    {% include img-text-1.html 
      header="We're sorry...." 
      text="Sadly we don't have any vacancies available for the country you chose at this moment, but YoungCapital is always in search of highly motivates employees.<br><br> For more information, you can contact us. Maybe we can chase your dreams together. Find our contact information on the contact page." 
      img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/no-vac-transparant.png"
      alt="Netherlands" url="/contact" urlName="More information" %}
    <!-- 2 -->
    <!-- {% include img-text-2.html header="Working in Portugal" text="Do you want to work in Portugal? We are constantly looking
    for adventurers who want to pack their suitcases and move to Lisbon. With incredibly beautiful nature, good weather and
    many activities in the cities you will have an unforgettable time! Apply for a vacancy below and before you know it you
    could be working in Portugal!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/picture3.jpg"
    alt="Portugal" url="https://www.studentjob.de/jobs-im-ausland/portugal" urlName="More information" %} -->
    <!-- 3 -->
    <!-- {% include img-text-1.html header="Working in Greece" text="Do you like the idea of working and living in Greece? We have
    the best work opportunities available for you! Our vacancies allow you to work in local or international companies that
    provide you with a good salary and bonus structure. In your free time you can enjoy the wonderful weather, the great
    food and everything else that Greece has to offer. Interested? Take a quick look at our job openings and soon you could
    be on your way to Greece!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/youngcapital/international/werken-in-het-buitenland/griekenland/File3.jpg"
    alt="Griekenland" url="https://www.studentjob.de/jobs-im-ausland/griechenland" urlName="More information" %} -->
    <!-- 4 -->
    <!-- {% include img-text-2.html header="Working in Spain" text="Living and working in Spain; for many a dream. But, for you, this
    dream could come true! Through YoungCapital International you can find challenging vacancies in sunny Spain. Pour a glass
    of sangria, apply and soon you could be at work in sunny Barcelona!" img="https://youngcapital-uploads-production.s3.amazonaws.com/nl/public/Image/international/spanje.jpeg"
    alt="Spanje" url="https://www.studentjob.de/jobs-im-ausland/spanien" urlName="More information" %} -->
  </section>

  {% include gray-block-question.html %} {% include footer.html %}

  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    var countryCode = "";

  $.ajax({
    url: 'https://ipinfo.io',
    dataType: 'json',
    success: function (result) {
      countryCode = result.country;
      console.log(countryCode);
      switch (countryCode) {

      case "NL":
        $(".country_" + countryCode).slideToggle(200);
        window.sr = ScrollReveal({
          reset: true
        });
        sr.reveal('.job-opening__item', {
          duration: 300
        });
        sr.reveal('.job-opening__item-reversed', {
          duration: 300
        });
      break;

      case "DE":
        $(".country_" + countryCode).slideToggle(200);
        window.sr = ScrollReveal({
          reset: true
        });
        sr.reveal('.job-opening__item', {
          duration: 300
        });
        sr.reveal('.job-opening__item-reversed', {
          duration: 300
        });
      break;

      default:
       $(".country_Default").slideToggle(200);
       window.sr = ScrollReveal({
          reset: true
        });
        sr.reveal('.job-opening__item', {
          duration: 300
        });
        sr.reveal('.job-opening__item-reversed', {
          duration: 300
        });
      }
    }
  });

    // $.ajax({
    //   url: 'https://ipinfo.io',
    //   dataType: 'json',
    //   success: function(result) {
    //     countryCode = result.country;
    //     console.log(countryCode); 
    //   if(countryCode === "NL") {
    //     $(".country_" + countryCode).slideToggle(200);
    //     window.sr = ScrollReveal({reset: true});
    //     sr.reveal('.job-opening__item', {
    //       duration: 300
    //     });
    //     sr.reveal('.job-opening__item-reversed', {
    //       duration: 300
    //   });
    //   } else if (countryCode === "DE") {
    //     $(".country_" + countryCode).slideToggle(200);
    //     window.sr = ScrollReveal({reset: true});
    //     sr.reveal('.job-opening__item', {
    //       duration: 300
    //     });
    //       sr.reveal('.job-opening__item-reversed', {
    //       duration: 300
    //     });
    //   } else {
    //     $(".country").slideToggle(200);
    //       window.sr = ScrollReveal({reset: true});
    //       sr.reveal('.job-opening__item', {
    //         duration: 300
    //       });
    //       sr.reveal('.job-opening__item-reversed', {
    //         duration: 300
    //       }); 
    //     }        
    //   }
    // });

    // $(document).ajaxComplete(function(countryCode) {
    //   console.log("Hiii" + countryCode);

    //   if(countryCode === "NL") {
    //     $(".country_" + countryCode).slideToggle(200);
    //   } else if (countryCode === "DE") {
    //     $(".country_" + countryCode);
    //   } else {
    //     $(".country_EN");
    //   }
    // });

    // $(document).ajaxComplete(function() {
    //   $(".country_" + countryCode).slideToggle(200);
    //   window.sr = ScrollReveal({reset: true});
    //   sr.reveal('.job-opening__item', {
    //     duration: 300
    //   });
    //   sr.reveal('.job-opening__item-reversed', {
    //     duration: 300
    //   });
    // })
  </script>

</body>

</html>