footer {
  position: relative;
  background: $color-black;
  background-size: cover;
  color: #d4d4d4;
  z-index: 0;
  padding: 120px $default-spacing-mobile $default-spacing-mobile $default-spacing-mobile;

  h1, h2, h3, h4, p {
    color: $color-white;
  }

  .a-border:hover {
    border: 1px solid white;
  }

  @media screen and (min-width: $min-width-md) {
    
    padding-top: 80px;
    &.has-white-block .container {
      padding-top: 93px;
    }
  }

  .container {
    .social {
      display: block;
      text-align: center;
      margin-top: $default-spacing-mobile;

      @media screen and (min-width: $min-width-sm) {
        text-align: left;
        margin-top: 5px;
      }

      li {
        padding: 0 2px 0 0;
        display: inline-block;

        a {
          color: $color-white;
        }

        i::before {
          vertical-align: middle;
        }
      }
    }

    .row {
      h3 {
        margin-top: $footer-title-margin-top;
      }

      a {
        margin: 20px 0;
      }

      @media screen and (min-width: $min-width-sm) {
        a {
          margin-bottom: 0;
          width: 100%;
        }
      }
    }
  }
  .copy{
    font-size: 10px;
    margin-top: $default-spacing-mobile;
    margin-bottom: 0;

    @media screen and (min-width: $min-width-sm) {
      margin-top: $default-spacing;
    }

    @media screen and (min-width: $min-width-md) {
      margin-top: $default-content-spacing;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}

@media screen and (min-width: $min-width-md) {
    padding-top: 180px;
  }
